# Fortran files
*.o
*.mod

# Python compiled files
*.pyc

# Libary files
*.so
*.a

# other text files
*.dat

# old backup files
bkp*/**

# vim remainders
*.swp

# input files
inp.*

# build files
make_include
bin/**
bin

# tag files
tags
