# Fortran files
*.o
*.mod

# Python compiled files
*.pyc

# Libary files
*.so
*.a

# other text files
*.dat
*.txt

# old backup files
bkp*/**

# vim remainders
*.swp
*.swo

# input files
inp.*

# build files
make_include
bin/**
bin
testsuite/validation/test
build/**
build

# tag files
tags

# data files
*.hdf5
*.bt2
